.grid {
  display: grid;
  display: -ms-grid;
}
.button-delivery-data:checked ~ .body {
  background-color: #000000;
}
body {
  /*
	.all-content>section 
		display: none;
	
	.main-header>.buttons>button[for*="1"]:before 
		content: "\f19a";
	
	.main-header>.buttons>button[for*="2"]:before 
		content: "\f17a";
	
	.main-header>.buttons>.button-delivery-data:checked~.data-from-user-section, .main-header>.buttons>.button-map:checked~.form-map-section 
		display: block;
	*/
  font-family: 'Montserrat', sans-serif;
  background-color: #f6f6f6;
}
body .all-content {
  margin: 0 80px 10px 30px;
  background-color: #ffffff;
}
body .all-content .button-block {
  padding: 10px 30px 10px 30px;
  display: inherit;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 4%;
}
body .all-content .button-block .send-data {
  border: none;
  outline: none;
  font-size: 14pt;
  font-family: inherit;
  text-decoration: none;
  background-color: #212bff;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  width: 208px;
  height: 57px;
  color: #ffffff;
}
body .all-content .button-block .send-data:hover {
  background-color: #2029ea !important;
}
body .all-content .button-block .send-data:active {
  background-color: #1e26d8 !important;
}
body .main-header {
  width: 83.3%;
  font-family: inherit;
}
body .main-header h1 {
  padding: 20px 20px 30px 30px;
  margin: auto 0;
}
body .main-header .buttons {
  padding: 40px 20px 0px 30px;
  position: relative;
}
body .main-header .buttons span {
  padding-left: 25px;
}
body .main-header .buttons .button-delivery-data {
  display: inline-block;
  outline: none;
  font-size: 13pt;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  position: inherit;
  text-decoration: none;
  border: none;
  background-color: #ffffff;
  max-width: 170px;
  height: 64px;
  width: 100%;
  margin: 5px 0px;
  transform-origin: 50% 100% 0;
  z-index: 2;
  color: #212bff;
  margin-bottom: 0;
  clip-path: url(#tabShape);
}
body .main-header .buttons .button-delivery-data:hover {
  color: #212bff !important;
}
body .main-header .buttons .button-map {
  display: inline-block;
  outline: none;
  font-size: 13pt;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  position: inherit;
  text-decoration: none;
  border: none;
  box-shadow: 2px 0px #dbdcdd;
  background-color: #edeeef;
  color: #8288a2;
  max-width: 180px;
  height: 64px;
  width: 100%;
  margin: 5px 0px;
  transform-origin: 50% 100% 0;
  margin-left: -3.5%;
  z-index: 1;
  margin-bottom: 0;
  clip-path: url(#tabShape);
}
body .main-header .buttons .button-map:hover {
  color: #212bff !important;
}
body .data-from-user-section {
  display: grid;
  margin-left: 21px;
  padding-top: 25px;
  padding-right: 15px;
  -ms-grid-template-columns: 1fr,1fr;
  grid-template-columns: 1fr,1fr;
  -ms-grid-gap: 40px 10px;
  grid-gap: 40px 10px;
}
body .data-from-user-section p {
  margin: 0%;
  width: max-content;
  height: min-content;
  font-size: 14pt;
  font-family: inherit;
  color: #3f3f3f;
}
body .data-from-user-section input {
  outline: none;
  font-size: 16pt;
  border: 1px solid #dadef0;
  height: 55px;
  color: #000000;
}
body .data-from-user-section input::placeholder {
  color: #b8bed8;
}
body .data-from-user-section input:hover {
  border: 1px solid #c3c9db !important;
}
body .data-from-user-section input:focus {
  border: 1px solid #8288a2 !important;
}
body .data-from-user-section textarea {
  outline: none;
  height: 110px;
  resize: none;
  border: 1px solid #dadef0;
}
body .data-from-user-section textarea:hover {
  border: 1px solid #c3c9db !important;
}
body .data-from-user-section textarea:focus {
  border: 1px solid #8288a2 !important;
}
body .data-from-user-section .item-input {
  position: relative;
  padding: 0 10px 0 10px;
}
body .data-from-user-section .item-input:nth-child(3) {
  -ms-grid-column: 1/3;
  grid-column: 1/3;
}
body .data-from-user-section .item-input:nth-child(4) {
  -ms-grid-column: 1/3;
  grid-column: 1/3;
}
body .form-map-section {
  display: none;
  padding: 10px 30px 10px 31px;
  background-color: #ffffff;
}
body .form-map-section #map {
  height: 50vh;
}
